<%= layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="mt-5 mb-5 d-flex align-items-center justify-content-center">Edit your listing</h1>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter title</label>
                    <input type="text" name="listing[title]" placeholder="Title" class="form-control" value = "<%= listing.title %>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Enter description</label>
                    <textarea name="listing[description]" id="description" placeholder="Description"
                        class="form-control"><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Enter your image URL</label>
                    <input type="url" name="listing[image]" placeholder="Image URL" id="img" class="form-control" value="<%= listing.image %>" >
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Enter price</label>
                        <input type="number" name="listing[price]" placeholder="Price" id="price" class="form-control" value="<%= listing.price %>">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="location" class="form-label">Enter location</label>
                        <input type="text" name="listing[location]" placeholder="Location" id="location" class="form-control" value="<%= listing.location %>">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Enter country</label>
                        <input type="text" name="listing[country]" placeholder="Country" id="country" class="form-control" value="<%= listing.country %>">
                    </div>
                </div>

                <button class="btn btn-primary mb-5">Save Edits</button>
            </form>
        </div>

    </div>