<%= layout('/layouts/boilerplate') %>
    <%= success %>

    <style>
        
        .filter {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            margin-right: 2rem;
            opacity: 0.6;
            cursor: pointer;
            font-size: 16px;
            flex-wrap: wrap;
        }
        .filter:hover {
            opacity: 1;
            transition: 0.5s;
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 1rem;
        }
        .toggle {
            border: 1px solid gray;
            border-radius: 8px;
            padding: 16px;
            margin-left: 16px;

        }     
        
        .tax-info {
            display: none;
        }
    </style>


        <div class="options">
            <div class="filters">
                <div class="filter">
                    <i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-bed"></i>
                    <p>Rooms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-mountain-city"></i>
                    <p>Iconic cities</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-mountain"></i>
                    <p>Mountains</p>
                </div>
                <div class="filter">
                    <i class="fa-brands fa-fort-awesome"></i>
                    <p>Near Castles</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-campground"></i>
                    <p>Camping</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-person-swimming"></i>
                    <p>Pools</p>
                </div>
                <div class="filter">
                    <i class="fa-regular fa-snowflake"></i>
                    <p>Arctic</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-igloo"></i>
                    <p>Caves</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-ship"></i>
                    <p>Boating</p>
                </div>
            </div>
    
            
            <div class="toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Show taxes</label>
                  </div>
            </div>
        </div>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(let listing of allListings){ %>
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
                    <!-- <div class="card-img-overlay d-flex align-items-center justify-content-center text-white">abcd</div> -->
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-2 pl-2"><i>
                                <%= listing.title %>
                            </i></h5>
                        <p class="card-text m-0">
                            <%= listing.location %>
                        </p>
                        <p class="card-text">
                            <%= listing.country %>
                        </p>
                        <p class="card-text">
                            <%= listing.description %>
                        </p>

                        <p class="card-text d-inline">&#8377;<%= listing.price %>
                            &nbsp;&nbsp; <i class="tax-info">+18% GST</i>
                        </p><br>
                        <a href="/listings/<%= listing.id %>" class="btn btn-primary mt-4">View</a>
                    </div>
                </div>
                <% } %>
        </div>

        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckDefault");
            taxSwitch.addEventListener("click", () => {
                let taxInfo = document.getElementsByClassName("tax-info");
                for(let info of taxInfo) {
                    info.style.display = info.style.display === "none"? "inline" : "none";
                }
            })
        </script>