<%= layout('/layouts/boilerplate') %>

    <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
        <!-- Filters Section -->
        <div class="filters-wrapper flex-grow-1">
            <div class="filters d-flex flex-nowrap">
                <div class="filter">
                    <i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-bed"></i>
                    <p>Rooms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-mountain-city"></i>
                    <p>Iconic cities</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-mountain"></i>
                    <p>Mountains</p>
                </div>
                <div class="filter">
                    <i class="fa-brands fa-fort-awesome"></i>
                    <p>Near Castles</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-campground"></i>
                    <p>Camping</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-person-swimming"></i>
                    <p>Pools</p>
                </div>
                <div class="filter">
                    <i class="fa-regular fa-snowflake"></i>
                    <p>Arctic</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-igloo"></i>
                    <p>Caves</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-ship"></i>
                    <p>Boating</p>
                </div>
            </div>
        </div>
        <!-- Show Taxes Button -->
        <div class="toggle">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Show taxes</label>
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of allListings){ %>
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 16rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold mt-2 pl-2"><i>
                            <%= listing.title %>
                        </i></h5>
                    <div class="d-flex gap-1 mb-2 opacity-75">
                        <span class="ms-2">
                            <%= listing.location %>,
                        </span>
                        <span class="">
                            <%= listing.country %>
                        </span>
                    </div>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>

                    <p class="card-text d-inline">&#8377;<%= listing.price %>
                            &nbsp; <i class="tax-info opacity-75">+18% GST</i>
                    </p><br>
                    <a href="/listings/<%= listing.id %>" class="btn btn-primary listing-view ">Book this
                        place</a>
                </div>
            </div>
        <% } %>
    </div>